.PlayOnLinux/
.Xauthority
.Xmodmap
.adobe/
.aptitude/
.bash_history
.bash_logout
.bashrc
.config/
.cpan/
.dbus/
.dmrc
.eclim/
.emerald/
.esd_auth
.fontconfig/
.galculator
.gconf/
.gdisrc
.gegl-0.0/
.gimp-2.8/
.gksu.lock
.gnome2/
.gnuplot_history
.goutputstream-C1EXKW
.goutputstream-D6PPKW
.gstreamer-0.10/
.gtk-bookmarks
.icons/
.jdownloader/
.lesshst
.local/
.macromedia/
.mtpaint
.neocon/
.nv/
.nvidia-settings-rc
.odbc.ini
.osmo/
.pki/
.profile
.pulse-cookie
.pulse/
.recently-used
.rpmdb/
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.thumbnails/
.vim.bak/
.vim/
.viminfo
.vimrc.bak
.vmd_history
.wine/
.xscreensaver
.xsession-errors
.xsession-errors.old
.zcompdump
Desktop/
Documents/
Downloads/
software/
windows
.settings/.history
.settings/.cache
.cache
.settings/.namaz
.settings/.dirs
