.*.sw?
.adobe/
.apport-ignore.xml
.aptitude/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.cpan/
.dbus/
Desktop/
.dmrc
Documents/
Downloads/
.eclim/
.emerald/
.esd_auth
.fltk/
.fontconfig/
.galculator
.gconf/
.gdisrc
.gegl-0.0/
.gem/
.gimp-2.8/
.git/
.gitconfig
.gitk
.gksu.lock
.gnome2/
.gnome2_private/
.gnuplot_history
.goutputstream*
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.hardinfo/
.*_history
.icons/
.jdownloader/
.lesshst
.local/
.macromedia/
.MathematicaPlayer/
.mozilla/
.mplayer/
.mtpaint
.neocon/
.nv/
.nvidia-settings-rc
.odbc.ini
.osmo/
.pip/
.pki/
.PlayOnLinux/
.PlayOnLinux/
.profile
.pulse/
.pulse-cookie
.recently-used
.rpmdb/
.settings/.cache
.settings/.dirs
.settings/.history
.settings/.namaz
.settings/.rsync
software/
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.thumbnails/
.vim/
.vim.bak/
.viminfo
.vimpdbrc
.vimrc.bak
.vmd_history
windows
.vmdrc.bak
.wine/
.Xauthority
.xdvirc
.Xmodmap
.xpra/
.xscreensaver
.xsession-errors
.xsession-errors.old
.zcompdump
